{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/dashboard_style.css' %}">
</head>
<body>
    <!-- Página principal -->
    <div class="cabecera">
        <ion-icon name="desktop-outline"></ion-icon>
        <span >Dashboard</span>
        <!-- <span>Servicio -> Procesos / Crear servicio</span>  -->
        <div class="busqueda" style="width: 70%;">
            <div>
                <select id="asigna" >         
                    <option value="0" selected >No asignados</option>
                    <option value="1">Asignados</option>                              
                </select> 
            </div>   
            <div>
                <select id="atributo" >    
                    <option value="num_servicio">Número de orden</option>      
                    <option value="identidad">Número de identificación</option>
                    <option value="nombre">Nombre cliente</option>                            
                </select> 
            </div>  
            <button onclick="busqueda_filtro()" type="button">
                <ion-icon name="search-outline"></ion-icon>
            </button>            
            <input id="search" type="text" placeholder="Search..">
            <!-- <button onclick="openmodal()">
                <span> 
                    <ion-icon name="add-circle-outline"></ion-icon> 
                    <span>Crear servicio</span>
                </span>
            </button> -->
        </div>             
    </div>
    
    <!-- <div class="relleno">
    </div>   -->

    <div class="dashboard_resumen">
        <div style="background-color: rgb(0, 156, 3);">
            <div >
                <div>
                    <span>Carga de trabajo</span>
                </div>
                <div>
                    <span>Total servicios</span> 
                </div>                          
            </div>
            <div >
                <span>{{ carga_de_trabajo }}</span>            
            </div>
        </div>

        <div style="background-color: rgb(43, 74, 255);">
            <div >
                <div>
                    <span>Pro. Repetidos</span>
                </div>
                <div>
                    <span>Total servicios</span> 
                </div>                          
            </div>
            <div >
                <span>12356</span>            
            </div>
        </div>

        <div style="background-color: rgb(224, 13, 91);">
            <div >
                <div>
                    <span>X. Respuesto</span>
                </div>
                <div>
                    <span>Total servicios</span> 
                </div>                          
            </div>
            <div >
                <span>{{ pendiente_por_repuesto }}</span>            
            </div>
        </div>

        <div style="background-color: rgb(63, 63, 63);">
            <div >
                <div>
                    <span>Soporte técnico</span>
                </div>
                <div>
                    <span>Total servicios</span> 
                </div>                          
            </div>
            <div >
                <span>{{ soporte_tecnico }}</span>            
            </div>
        </div>

        <div style="background-color: rgb(205, 191, 0);">
            <div >
                <div>
                    <span>Proceso cambio</span>
                </div>
                <div>
                    <span>Total servicios</span> 
                </div>                          
            </div>
            <div >
                <span>{{ proceso_de_cambio }}</span>            
            </div>
        </div>

    </div>

    <!-- <div class="relleno">
    </div>   -->

    <div class="cont_resultados">
        <table id="tabla" class="tabla" summary="no_orderDate"  >
            <thead >
                <tr><th class="th1_servicios" >Servicio</th><th class="th2_servicios">Tipo</th><th class="th3_servicios">Producto</th> <th class="th4_servicios">Marca</th> <th class="th4_servicios">Dias</th> <th class="th5_servicios">Estado</th> <th class="th6_servicios">Técnico</th> <th class="th7_servicios">Acción</th> </tr>
            </thead>
            <tbody id="tabla_body" >
          
            </tbody>   
        </table>             
    </div>  

    <div class="tabla_control">
        <span>Resultados por página</span>
        <select id="por_pagina_servicios" onchange="BuscarServicios_aux()" >
            <option style="display: none;" value="">---</option>            
            <option value="5" selected >5</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>           
        </select>      

        <input id="actual_page_servicios" type="number" hidden value="1">
        <input id="num_pages_servicios" type="number" hidden value="1">
        <input id="old_search_servicios" type="text" hidden value="">
        <a class="back_forward" onclick="page_counter_servicios_sub()" ><u>Atras</u></a>
        <span class="total_items_cliente" id="total_items_servicios_sin_asignar">0 de 0</span>        
        <a class="back_forward" onclick="page_counter_servicios_add()" ><u>Siguiente</u></a>
    </div> 

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="{% static 'js/dashboard_script.js' %}"></script>
</body>
</html>