{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cliente/proveedor</title>
    <link rel="stylesheet" href="{% static 'css/cliente_proveedor_style.css' %}">
</head>
<body>
        <dialog id="modal" class="modal">
            <!-- <form action="" method="dialog" formmethod="dialog"> -->
            <div class="encabezado">
                <ion-icon name="person-add-outline"></ion-icon>
                <span>Crear contacto</span>
                <ion-icon onclick="closemodal()" name="close-outline"></ion-icon>
            </div>
            
            <form  method="post"  >
                {% csrf_token %}      

                <div class="cuerpo">  
                <select name="tipo_contacto" id="tipo_contacto" required="required">
                    <option value="" disabled selected hidden>Tipo de contacto</option>
                    <option value="Cliente">Cliente</option>
                    <option value="Proveedor">Proveedor</option>
                    <option value="Ambos">Ambos</option>
                </select>
        
                <select name="tipo_identidad" id="tipo_identidad" required="required">
                    <option value="" disabled selected hidden>Tipo de identidad</option>
                    <option value="NIT">Número de identificación tributaria</option>
                    <option value="C.C">Cédula de ciudadanía</option>
                    <option value="D.I.E">Documento de identificación extranjero</option>
                    <option value="P">Pasaporte</option>
                    <option value="C.E">Cédula de extranjería</option>
                    <option value="T.E">Tarjeta de extranjería</option>
                    <option value="T.I">Tarjeta de identidad</option>
                    <option value="R.C">Registro civil</option>
                </select>
        
                <input name="identidad" id="identidad" type="number" placeholder="Identidad" required="required">
                <input name="nombre" id="nombre" type="text" placeholder="Nombre" required="required">
                <input name="direccion" id="name" type="text" placeholder="Dirección" required="required">
                <input name="telefono" id="telefono" type="number" placeholder="Telefono" required="required">
                
                <select name="departamento" id="departamento" required="required">
                    <option value="" disabled selected hidden>Departamento</option>
                    <option value="Antioquia">Antioquia</option>
                    <option value="Atlantico">Atlántico</option>
                    <option value="Bogotá">Bogotá</option>
                    <option value="Bolivar">Bolivar</option>
                    <option value="Boyacá">Boyacá</option>
                    <option value="Caldas">Caldas</option>
                    <option value="Caquetá">Caquetá</option>
                    <option value="Cauca">Cauca</option>
                    <option value="Cesar">Cesar</option>
                    <option value="Cordoba">Cordoba</option>
                    <option value="Cundinamarca">Cundinamarca</option>
                    <option value="Chocó">Chocó</option>
                    <option value="Huila">Huila</option>
                    <option value="La Guajira">La Guajira</option>
                    <option value="Magdalena">Magdalena</option>
                    <option value="Meta">Meta</option>
                    <option value="Nariño">Nariño</option>
                    <option value="N. de Santander">N. de Santander</option>
                    <option value="Quindio">Quindio</option>
                    <option value="Risaralda">Risaralda</option>
                    <option value="Santander">Santander</option>
                    <option value="Sucre">Sucre</option>
                    <option value="Tolima">Tolima</option>
                    <option value="Valle del Cauca">Valle del Cauca</option>
                    <option value="Arauca">Arauca</option>
                    <option value="Casanare">Casanare</option>
                    <option value="Putumayo">Putumayo</option>
                    <option value="San Andres">San Andres</option>
                    <option value="Amazonas">Amazonas</option>
                    <option value="Guainía">Guainía</option>
                    <option value="Guaviare">Guaviare</option>
                    <option value="Vaupes">Vaupes</option>
                    <option value="Vichada">Vichada</option>
                </select>
                <input name="localidad" id="localidad" type="text" placeholder="Localidad" required="required">
                <input type="email" id="email" name="email" type="text" placeholder="E-mail" required="required">
                </div>

                <div class="botones">
                    <button  type="submit"> Crear </button>
                    <button onclick="closemodal()"  type="button"> Cancelar</button>
                    
                </div>                      
            </form>
            
        </dialog>

        <dialog class="modal_notificacion" id="modal_notificacion">
            <div >
                <span> {{message}}</span>
                <button onclick="closemodal_2()">OK</button>
            </div>  
        </dialog>

        {% if allowed == "yes" %}
        <script>
            document.getElementById('modal_notificacion').showModal();
        </script>
        {% endif %}

    <div class="cabecera">
        <ion-icon name="id-card-outline"></ion-icon> 
        <span >Contacto</span>
        <span>Contacto -> Cliente / Proveedor</span> 
        <div class="busqueda">
            <form action="" method="post">
                {% csrf_token %}    
                <button type="submit">
                    <ion-icon name="search-outline"></ion-icon>
                </button>            
                <input name="search" type="text" placeholder="Search.." required="required">
            </form>       
            <button onclick="openmodal()">
                <span> 
                    <ion-icon name="person-add-outline"></ion-icon> 
                    <span>Nuevo contacto</span>
                </span>
            </button>
        </div>             
    </div>
    
    <div class="relleno">

    </div>

    

    <div class="cont_resultados">
        <table id="tabla" class="tabla" summary="no_orderDate"  >
            <thead >
                <tr><th class="th1" >Tipo doc</th><th class="th2">Contacto</th><th class="th3">Identificación</th> <th class="th4">Nombre</th> <th class="th5">Telefono</th> <th class="th6">Mail</th> <th class="th7">Localidad</th> <th class="th8">Acción</th> </tr>
            </thead>
            <tbody id="tabla_body" >
                

                <!-- <script type="type=text/javascript">
                    alert({{queueList}});
                </script>        -->
            <!-- {% for queue in queueList %}
                {% if not queue.orderDate %}
                    <tr class="filas_tabla" ><td class="th1">{{ queue.tipo_identidad.value}}</td> <td class="th2" >{{ queue.tipo_contacto.value}}</td> <td class="th3">{{ queue.identidad.value}}</td> <td class="th4">{{ queue.nombre.value}}</td> <td class="th5">{{ queue.telefono.value}}</td> <td class="th6">{{ queue.email.value}}</td> <td class="th7">{{ queue.localidad.value}}</td> <td class="th8">Config</td></tr>
                {% endif %}
            {% endfor %} -->
            <!-- {{ queueList }} -->
            {% for queue in queueList %}            
                    <tr class="filas_tabla" ><td class="th1">{{ queue.tipo_identidad.value}}</td> <td class="th2" >{{ queue.tipo_contacto.value}}</td> <td class="th3">{{ queue.identidad.value}}</td> <td class="th4">{{ queue.nombre.value}}</td> <td class="th5">{{ queue.telefono.value}}</td> <td class="th6">{{ queue.email.value}}</td> <td class="th7">{{ queue.localidad.value}}</td> <td class="th8">Config</td></tr>                    
            {% endfor %}

            <!-- {% for contact in queueList %}
                {# Each "contact" is a Contact model object. #}
                {{ contact.full_name|upper }}<br>
            {% endfor %}

            <div class="pagination">
                <span class="step-links">
                    {% if queueList.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ queueList.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ queueList.number }} of {{ queueList.paginator.num_pages }}.
                    </span>

                    {% if page_obj.has_next %}
                        <a href="?page={{ queueList.next_page_number }}">next</a>
                        <a href="?page={{ queueList.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div> -->
            
            </tbody>   
        </table>             
    </div>

    <div class="tabla_control">
        <span>Resultados por página</span>
        <select onchange="set_paginado('{{ queueList }}')" id="paginado"  name="" >
            <option id="paginado" value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="todos">Todos</option>

        </select>
        <span>1</span>
        <span>-</span>
        <span>5</span>
        <span> de </span>
        <span id="total_items"> {{ total_items }} </span>
        
        <a href="?page={{ queueList.previous_page_number }}">Back</a>
        <a href="?page={{ queueList.next_page_number }}"> Next</a>
        <!-- <a href="?page=1">Back</a> -->
        <!-- <a href="?page=2"> Next</a> -->
        <ion-icon onclick="back_page()" id="back" name="chevron-back-outline"></ion-icon>
        <ion-icon onclick="next_page()" id="forward" name="chevron-forward-outline"></ion-icon>
    </div> 

    


    

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="{% static 'js/cliente_proveedor_script.js' %}"></script>
</body>
</html>