{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="{% static 'css/home_style.css' %}">  
</head>

<body>

    

    <div class="barra_superior">
        <div id="menu_icon" class="boton_menu" >
            <ion-icon id="icon_action"  name="menu-outline"></ion-icon>
            <!-- <span >Servicio técnico calificado S.A.S</span>   -->
            <select class="boton_ciudad"  id="ciudad" onchange="cambio_ciudad()" >
                        {% autoescape off %}
                             {{ lista_ciudades }}
                        {% endautoescape %}
            </select>            
        </div>

        <!-- Banner -->
        <div class="banner">
            <div id="message" class="banner-text">
            </div>
            <!-- <div class="banner-text">
                ¡Aprovecha nuestras ofertas especiales! Descuentos hasta el 50% en productos seleccionados.
            </div> -->
        </div>
        <!-- Fin banner -->

        <nav class="nav" >
            <ul class="lista" >
                <li class="items">
                    <a class ="icon-texto" href="#">
                        <ion-icon name="add-circle-outline"></ion-icon>
                    </a>
                </li>
                <li class="items" >
                    <a class ="icon-texto" href="#">
                        <ion-icon name="search-outline"></ion-icon>
                    </a>
                </li>
                <li class="items" >
                    <a class ="icon-texto" href="#">
                        <ion-icon name="search-circle-outline"></ion-icon>
                    </a>
                </li>
                <li class="items" >
                    <a class ="icon-texto" href="#">
                        <ion-icon name="apps-outline"></ion-icon>
                    </a>
                </li>
                <li id="log_info">
                    <ul class="log_info_list">
                        <li class="log_info_icon" >
                            <!-- <ion-icon name="construct-outline"></ion-icon> -->
                            <img src="{% static 'img/user_default.png' %}" alt="">
                        </li>
                        <li class="log_info_nombre">
                            <span id="nombre"> {{ user.get_username }} <br> {{ user.email }}  </span>
                            <!-- <span id="correo"> Leescobarm@unal.edu.co </span>  -->
                        </li>                                                  
                    </ul>                         
                </li>
                <li class="items" >
                    <a class ="icon-texto" href="/logout">
                        <ion-icon name="log-out-outline"></ion-icon>
                    </a>
                </li class="items">
            </ul>
        </nav>          
    </div> 

    <div class="barra_contenido">
        <div id="barra_lateral" class="menu_lateral">
            <nav class="nav_lateral">
                <ul class="lista_lateral">
                    <!-- Dashboard  -->
                    <li class="item_lista_lateral">
                        <a class="icon_span" href="#" onclick="set_iframe('/dashboard')">
                            <ion-icon name="desktop-outline"></ion-icon>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <!-- Servicio  -->
                    <li class="item_lista_lateral">
                        <a class="icon_span" href="#">
                            <ion-icon name="add-circle-outline"></ion-icon>
                            <span >Servicio</span>
                            <ion-icon class="flecha_submenu" name="chevron-down-outline"></ion-icon>
                        </a>                        
                        <!-- Servicio Procesos -->
                        <ul class="sub_lista">
                            <li class="sub_item">
                                <a class="sub_icon_span" href="#" onclick="set_iframe('/crear_servicio')">
                                <!-- <ion-icon class="flecha_sub_submenu" name="chevron-down-outline"></ion-icon> -->
                                <ion-icon name="documents-outline"></ion-icon>                                
                                <span style="width: 100%;" >Crear servicio</span>
                                </a>
                                <!-- Servicio Procesos Crear_proceso  -->
                                <!-- <ul class="sub_sub_lista">
                                    <li  class="sub_sub_item">
                                        <a class="sub_sub_icon_span" href="#">                                            
                                            <span>Crear servicio</span>
                                            <ion-icon name="add-circle-outline"></ion-icon>
                                        </a>
                                    </li>
                                    <li  class="sub_sub_item">
                                        <a class="sub_sub_icon_span" href="#">
                                            <span>Asignar servicio</span>
                                            <ion-icon name="document-attach-outline"></ion-icon>                                            
                                        </a>
                                    </li>
                                </ul> -->
                            </li>
                            <!-- <li class="sub_item">
                                <a class="sub_icon_span" href="#">
                                <ion-icon class="flecha_sub_submenu" name="chevron-down-outline"></ion-icon>
                                <ion-icon name="eye-outline"></ion-icon>                                
                                <span>Consultas</span>
                                </a>
                                <ul class="sub_sub_lista">
                                    <li  class="sub_sub_item">
                                        <a class="sub_sub_icon_span" href="#">                                            
                                            <span>Servicio</span>
                                            <ion-icon name="search-outline"></ion-icon>
                                        </a>
                                    </li>
                                    <li  class="sub_sub_item">
                                        <a class="sub_sub_icon_span" href="#">
                                            <span>General</span>
                                            <ion-icon name="search-circle-outline"></ion-icon>                                           
                                        </a>
                                    </li>
                                </ul>
                            </li> -->
                            <!-- <li class="sub_item">
                                <a class="sub_icon_span" href="#">
                                <ion-icon class="flecha_sub_submenu" name="chevron-down-outline"></ion-icon>
                                <ion-icon name="settings-outline"></ion-icon>                                
                                <span>Parámetros</span>
                                </a>
                                <ul class="sub_sub_lista">
                                    <li  class="sub_sub_item">
                                        <a class="sub_sub_icon_span" href="#">                                            
                                            <span>Modelos</span>
                                            <ion-icon name="caret-forward-outline"></ion-icon> 
                                        </a>
                                    </li>
                                    <li  class="sub_sub_item">
                                        <a class="sub_sub_icon_span" href="#">
                                            <span>Marca</span>
                                            <ion-icon name="caret-forward-outline"></ion-icon>                                           
                                        </a>
                                    </li>
                                    <li  class="sub_sub_item">
                                        <a class="sub_sub_icon_span" href="#">
                                            <span>Producto</span>
                                            <ion-icon name="caret-forward-outline"></ion-icon>                                            
                                        </a>
                                    </li>
                                    <li  class="sub_sub_item">
                                        <a class="sub_sub_icon_span" href="#">
                                            <span>Almacen</span>
                                            <ion-icon name="caret-forward-outline"></ion-icon>                                         
                                        </a>
                                    </li>
                                </ul>
                            </li> -->
                        </ul>  
                    </li>

                    <!-- Contacto  -->

                    <li class="item_lista_lateral">
                        <a class="icon_span" href="#">
                            <ion-icon name="person-outline"></ion-icon>
                            <span>Contacto</span>
                            <ion-icon class="flecha_submenu" name="chevron-down-outline"></ion-icon>
                        </a>
                        <ul class="sub_lista">
                            <li class="sub_item">
                                <a class="sub_icon_span" href="#" onclick="set_iframe('/cliente_proveedor')" >
                                <!-- <ion-icon class="flecha_sub_submenu" name="chevron-down-outline"></ion-icon> -->
                                <ion-icon name="id-card-outline"></ion-icon>                                
                                <span>Cliente/Proveedor</span>
                                </a>
                            </li>
                        </ul>                        
                    </li>
                    <!-- Facturación -->
                    <li class="item_lista_lateral">
                        <a class="icon_span" href="#" >
                            <ion-icon name="wallet-outline"></ion-icon>
                            <span>Facturación</span>
                            <ion-icon class="flecha_submenu" name="chevron-down-outline"></ion-icon>
                        </a>
                        <ul class="sub_lista">
                            <li class="sub_item">
                                <a class="sub_icon_span" href="#" onclick="set_iframe('/pagos')">
                                <!-- <ion-icon class="flecha_sub_submenu" name="chevron-down-outline"></ion-icon> -->
                                <ion-icon name="settings-outline"></ion-icon>                                
                                <span>Pagos</span>
                                </a>
                                <!-- <ul class="sub_sub_lista">
                                    <li  class="sub_sub_item">
                                        <a class="sub_sub_icon_span" href="#">                                            
                                            <span>Remisiones</span>
                                            <ion-icon name="caret-forward-outline"></ion-icon> 
                                        </a>
                                    </li>
                                    <li  class="sub_sub_item">
                                        <a class="sub_sub_icon_span" href="#">
                                            <span>Pagos recibidos</span>
                                            <ion-icon name="caret-forward-outline"></ion-icon>                                           
                                        </a>
                                    </li>                                    
                                </ul> -->
                            </li>
                            <li class="sub_item">
                                <a class="sub_icon_span" href="#" onclick="set_iframe('/facturacion/remision')">
                                <!-- <ion-icon class="flecha_sub_submenu" name="chevron-down-outline"></ion-icon> -->
                                <ion-icon name="trending-down-outline"></ion-icon>                                
                                <span>Remisión</span>
                                </a>
                                <!-- <ul class="sub_sub_lista">
                                    <li  class="sub_sub_item">
                                        <a class="sub_sub_icon_span" href="#">                                            
                                            <span>Gastos realizados</span>
                                            <ion-icon name="caret-forward-outline"></ion-icon> 
                                        </a>
                                    </li>                                   
                                </ul> -->
                            </li>
                            <!-- <li class="sub_item">
                                <a class="sub_icon_span" href="#">
                                <ion-icon class="flecha_sub_submenu" name="chevron-down-outline"></ion-icon>
                                <ion-icon name="checkmark-done-outline"></ion-icon>                                
                                <span>Control caja</span>
                                </a>
                                <ul class="sub_sub_lista">
                                    <li  class="sub_sub_item">
                                        <a class="sub_sub_icon_span" href="#">                                            
                                            <span>Entradas diarias</span>
                                            <ion-icon name="caret-forward-outline"></ion-icon> 
                                        </a>
                                    </li>
                                    <li  class="sub_sub_item">
                                        <a class="sub_sub_icon_span" href="#">
                                            <span>Consulta cajas</span>
                                            <ion-icon name="caret-forward-outline"></ion-icon>                                           
                                        </a>
                                    </li>                                    
                                </ul>
                            </li> -->
                            <!-- <li class="sub_item">
                                <a class="sub_icon_span" href="#">
                                <ion-icon class="flecha_sub_submenu" name="chevron-down-outline"></ion-icon>
                                <ion-icon name="eye-outline"></ion-icon>                                
                                <span>Consulta</span>
                                </a>
                                <ul class="sub_sub_lista">
                                    <li  class="sub_sub_item">
                                        <a class="sub_sub_icon_span" href="#">                                            
                                            <span>Facturación periodo</span>
                                            <ion-icon name="caret-forward-outline"></ion-icon> 
                                        </a>
                                    </li>
                                    <li  class="sub_sub_item">
                                        <a class="sub_sub_icon_span" href="#">
                                            <span>Ingresos</span>
                                            <ion-icon name="caret-forward-outline"></ion-icon>                                           
                                        </a>
                                    </li> 
                                    <li  class="sub_sub_item">
                                        <a class="sub_sub_icon_span" href="#">
                                            <span>Gastos</span>
                                            <ion-icon name="caret-forward-outline"></ion-icon>                                           
                                        </a>
                                    </li> 
                                    <li  class="sub_sub_item">
                                        <a class="sub_sub_icon_span" href="#">
                                            <span>Centros de costo</span>
                                            <ion-icon name="caret-forward-outline"></ion-icon>                                           
                                        </a>
                                    </li>                                    
                                </ul>
                            </li> -->
                            <!-- <li class="sub_item">
                                <a class="sub_icon_span" href="#">
                                <ion-icon class="flecha_sub_submenu" name="chevron-down-outline"></ion-icon>
                                <ion-icon name="settings-outline"></ion-icon>                                
                                <span>Parámetros</span>
                                </a>
                                <ul class="sub_sub_lista">
                                    <li  class="sub_sub_item">
                                        <a class="sub_sub_icon_span" href="#">                                            
                                            <span>Centros de costo</span>
                                            <ion-icon name="caret-forward-outline"></ion-icon> 
                                        </a>
                                    </li>                                
                                </ul>
                            </li> -->
                        </ul> 
                    </li>
                    <li  class="item_lista_lateral">
                        <a class="icon_span" href="#">
                            <ion-icon name="cart-outline"></ion-icon>
                            <span>Inventario</span>
                            <ion-icon class="flecha_submenu" name="chevron-down-outline"></ion-icon>
                        </a>
                        <ul class="sub_lista">
                            <li class="sub_item">
                                <a class="sub_icon_span" href="#" onclick="set_iframe('/inventario')">
                                <!-- <ion-icon class="flecha_sub_submenu" name="chevron-down-outline"></ion-icon> -->
                                <ion-icon name="settings-outline"></ion-icon>                                
                                <span>Item</span>
                                </a>
                            </li>
                            <!-- <li class="sub_item">
                                <a class="sub_icon_span" href="#">
                                <ion-icon name="pricetag-outline"></ion-icon>                                
                                <span>Costo</span>
                                </a>
                            </li> -->
                            <!-- <li class="sub_item">
                                <a class="sub_icon_span" href="#">
                                <ion-icon class="flecha_sub_submenu" name="chevron-down-outline"></ion-icon>
                                <ion-icon name="checkbox-outline"></ion-icon>                                
                                <span>Control existencias</span>
                                </a>
                                <ul class="sub_sub_lista">
                                    <li  class="sub_sub_item">
                                        <a class="sub_sub_icon_span" href="#">                                            
                                            <span>Periodo</span>
                                            <ion-icon name="caret-forward-outline"></ion-icon> 
                                        </a>
                                    </li>
                                    <li  class="sub_sub_item">
                                        <a class="sub_sub_icon_span" href="#">
                                            <span>Partes</span>
                                            <ion-icon name="caret-forward-outline"></ion-icon>                                           
                                        </a>
                                    </li>                                    
                                </ul>
                            </li> -->
                            <!-- <li class="sub_item">
                                <a class="sub_icon_span" href="#">
                                <ion-icon class="flecha_sub_submenu" name="chevron-down-outline"></ion-icon>
                                <ion-icon name="eye-outline"></ion-icon>                                
                                <span>Consulta</span>
                                </a>
                                <ul class="sub_sub_lista">
                                    <li  class="sub_sub_item">
                                        <a class="sub_sub_icon_span" href="#">                                            
                                            <span>Partes</span>
                                            <ion-icon name="caret-forward-outline"></ion-icon> 
                                        </a>
                                    </li>                                   
                                </ul>
                            </li> -->
                        </ul> 
                    </li>
                    <li  class="item_lista_lateral">
                        <a class="icon_span"  onclick="set_iframe('/mensajes')">
                            <ion-icon name="construct-outline"></ion-icon>
                            <span>Mensajes</span>
                            <!-- <ion-icon class="flecha_submenu" name="chevron-down-outline"></ion-icon> -->
                        </a>
                        <!-- <ul class="sub_lista">
                            <li class="sub_item">
                                <a class="sub_icon_span"  href="#">
                                <ion-icon name="people-outline"></ion-icon>                                
                                <span>Usuarios</span>
                                </a>
                            </li>
                        </ul>  -->
                    </li>
                    <li class="item_lista_lateral">
                        <a class="icon_span" href="/logout">
                            <ion-icon name="log-out-outline"></ion-icon>
                            <span>Logout</span>
                        </a>
                    </li>
                    
                </ul>
            </nav>
        </div>
        <div id="contenido" class="contenido">
            <iframe id="iframe_contenido" class="zona_html" src="/dashboard" frameborder="0"></iframe>    
            <!-- <iframe id="iframe_contenido" href="https://es.wikipedia.org/wiki/Wikipedia:Portada" scr="https://es.wikipedia.org/wiki/Wikipedia:Portada" frameborder="0" style="background-color: aqua;" ></iframe> -->
        </div>

    </div> 



    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="{% static 'js/home_script.js' %}"></script>
    
</body>
</html>