{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear servicio</title>
    <link rel="stylesheet" href="{% static 'css/crear_servicio_style.css' %}">
</head>
<body>
        <!-- Crea servicio -->
        <dialog id="modal" class="modal" >
            <div class="encabezado">
                <ion-icon name="add-circle-outline"></ion-icon> 
                <span>Crear servicio</span>
                <ion-icon onclick="closemodal()" name="close-outline"></ion-icon>
            </div>          
            <form   id="form_crear" method="dialog" >
                <!-- {% csrf_token %}       -->
                <div class="cuerpo">  
                    <select name="tipo_servicio" id="tipo_servicio" required="required">
                        <option value="" disabled selected hidden>Tipo de servicio</option>
                        <option value="Facturable">Facturable</option>
                        <option value="Garantía">Garantía</option>
                        <option value="Garantía extendida">Garantía extendida</option>
                        <option value="Cortesia">Cortesia</option>
                    </select>       
                    <select name="lugar" id="lugar" required="required">
                        <option value="" disabled selected hidden>Lugar</option>
                        <option value="Domicilio">Domicilio</option>
                        <option value="Centro de servicio">Centro de servicio</option>
                    </select>
                    <select name="seguimiento" id="seguimiento" required="required">
                        <option value="" disabled selected hidden>Seguimiento</option>
                        <option value="Reparación">Reparación</option>
                        <option value="Instalación">Instalación</option>
                        <option value="Mantenimiento">Mantenimiento</option>
                        <option value="Venta">Venta</option>
                    </select>
                   
                    <select name="sede" id="sede" required="required">
                        <!-- <option value="" disabled selected hidden>Sede</option> -->
                        {% autoescape off %}
                             {{ lista_ciudades }}
                        {% endautoescape %}
                    </select>

                    <div>                
                        <button>
                            <ion-icon name="person"></ion-icon>
                        </button>
                            <input id="identidad" name="identidad" type="number" placeholder="Identificación del cliente" required="required"   >
                            <button name="id_submit" type="button" onclick="BuscaCliente()" >
                                    <ion-icon name="arrow-forward-outline"></ion-icon>
                            </button>
                        <button type="button" onclick="openmodal_busqueda()">
                            <ion-icon name="search-outline"></ion-icon>
                        </button>  
                        <button type="button" onclick="openmodal_crear_cliente()" >
                            <ion-icon name="person-add-outline"></ion-icon>
                        </button>                      
                        <input id="nombre" type="text" placeholder="Nombre del cliente" required="required" readonly >
                        <input id="direccion" type="text" placeholder="Dirección" required="required" readonly >
                        <!-- Campos invisibles -->
                        <input id="email" type="text"  hidden>
                        <input id="localidad" type="text"  hidden>
                        <input id="telefono" type="text"  hidden>
                    </div>
                    <div>
                        <button>
                            <ion-icon name="qr-code-outline"></ion-icon>
                        </button>
                        <input list="lista_modelos" id="modelo" name="modelo" type="text" placeholder="Modelo" required="required"  onkeypress="UpdateModels()" >
                        <datalist id="lista_modelos" >
                        </datalist>
                        <button type="button" onclick="BuscaModelo()">
                                <ion-icon name="arrow-forward-outline"></ion-icon>
                        </button>
                        <button type="button" onclick="openmodal_crear_modelo()">
                            <ion-icon name="add-outline"></ion-icon>
                        </button>  
                        <button type="button" disabled style="background-color: white; outline: none; border: none; "  >
                            <ion-icon name="add-outline" style="color: white;" ></ion-icon>
                        </button>  
                        <input name="marca" id="marca" type="text" placeholder="Marca" required="required" readonly >
                        <input name="producto" id="producto" type="text" placeholder="Producto" required="required"  readonly >
                    </div>
                    <div>
                        <input name="serie" id="serie" type="text" placeholder="Serie">
                        <input name="doc_ref" id="doc_ref" type="text" placeholder="Doc. Referencia" required="required"   >
                    </div>
                        <input name="falla" id="falla" type="text" placeholder="falla"   >
                        <input name="accesorios" id="accesorios" type="text" placeholder="Accesorios"  >
                        <input name="observacion" id="observacion" type="text" placeholder="Observación" >               
                    </div>
                    <div class="botones">
                        <button  type="submit"> Crear </button>
                        <button onclick="closemodal()"  type="button"> Cancelar</button> 
                    </div>  
                </div>                    
            </form> 
        </dialog>


        <!-- Crea cliente -->
        <dialog id="modal_crear_cliente" class="modal_new">
            <!-- <form action="" method="dialog" formmethod="dialog"> -->
            <div class="encabezado_new">
                <ion-icon name="person-add-outline"></ion-icon>
                <span id="titulo">Crear cliente</span>
                <ion-icon onclick="closemodal_crear_cliente()" name="close-outline"></ion-icon>
            </div>
            
            <form id="form_crea_cliente" method="dialog" onsubmit="CreaCliente()">    
                <div class="cuerpo_new">  
                <select name="tipo_contacto" id="tipo_contacto_crear_cliente" required="required" >
                    <!-- <option value="" disabled  hidden>Tipo de contacto</option> -->
                    <option value="Cliente" selected>Cliente</option>
                    <!-- <option value="Proveedor">Proveedor</option> -->
                    <!-- <option value="Ambos">Ambos</option> -->
                </select>
        
                <select name="tipo_identidad" id="tipo_identidad_crear_cliente" required="required">
                    <option value="" disabled selected hidden>Tipo de identidad</option>
                    <option value="NIT">Número de identificación tributaria</option>
                    <option value="C.C">Cédula de ciudadanía</option>
                    <option value="D.I.E">Documento de identificación extranjero</option>
                    <option value="P">Pasaporte</option>
                    <option value="C.E">Cédula de extranjería</option>
                    <option value="T.E">Tarjeta de extranjería</option>
                    <option value="T.I">Tarjeta de identidad</option>
                    <option value="R.C">Registro civil</option>
                </select>
        
                <input name="identidad" id="identidad_crear_cliente" type="number" placeholder="Identidad" required="required" >
                <input name="nombre" id="nombre_crear_cliente" type="text" placeholder="Nombre" required="required">
                <input name="direccion" id="direccion_crear_cliente" type="text" placeholder="Dirección" required="required">
                <input name="telefono" id="telefono_crear_cliente" type="number" placeholder="Telefono" required="required">
                
                <select name="departamento" id="departamento_crear_cliente" required="required">
                    {% autoescape off %}
                             {{ lista_ciudades }}
                    {% endautoescape %}
                    <!-- <option value="" disabled selected hidden>Departamento</option>
                    <option value="Antioquia">Antioquia</option>
                    <option value="Atlantico">Atlántico</option>
                    <option value="Bogotá">Bogotá</option>
                    <option value="Bolivar">Bolivar</option>
                    <option value="Boyacá">Boyacá</option>
                    <option value="Caldas">Caldas</option>
                    <option value="Caquetá">Caquetá</option>
                    <option value="Cauca">Cauca</option>
                    <option value="Cesar">Cesar</option>
                    <option value="Cordoba">Cordoba</option>
                    <option value="Cundinamarca">Cundinamarca</option>
                    <option value="Chocó">Chocó</option>
                    <option value="Huila">Huila</option>
                    <option value="La Guajira">La Guajira</option>
                    <option value="Magdalena">Magdalena</option>
                    <option value="Meta">Meta</option>
                    <option value="Nariño">Nariño</option>
                    <option value="N. de Santander">N. de Santander</option>
                    <option value="Quindio">Quindio</option>
                    <option value="Risaralda">Risaralda</option>
                    <option value="Santander">Santander</option>
                    <option value="Sucre">Sucre</option>
                    <option value="Tolima">Tolima</option>
                    <option value="Valle del Cauca">Valle del Cauca</option>
                    <option value="Arauca">Arauca</option>
                    <option value="Casanare">Casanare</option>
                    <option value="Putumayo">Putumayo</option>
                    <option value="San Andres">San Andres</option>
                    <option value="Amazonas">Amazonas</option>
                    <option value="Guainía">Guainía</option>
                    <option value="Guaviare">Guaviare</option>
                    <option value="Vaupés">Vaupés</option>
                    <option value="Vichada">Vichada</option> -->
                </select>
                <input name="localidad" id="localidad_crear_cliente" type="text" placeholder="Localidad" required="required">
                <input type="email" id="email_crear_cliente" name="email" type="text" placeholder="E-mail" required="required">
                </div>

                <div class="botones_new">
                    <button type="submit" id="accion" > Crear </button>
                    <button onclick="closemodal_crear_cliente()"  type="button"> Cancelar</button> 
                    <input id="editar_flag" name="editar_flag"  type="text" hidden value="0">
                </div>  
            </form> 
        </dialog>


    

        <!-- Busqueda de cliente  -->
        <dialog id="modal_busqueda" class="modal_search">
            <div class="encabezado_search">
                <ion-icon name="person-add-outline"></ion-icon>
                <span id="titulo">Buscar cliente</span>
                <ion-icon onclick="closemodal_busqueda()" name="close-outline"></ion-icon>
            </div>
            
            <div class="barra_busqueda_modal">    
                    <button id="boton_busqueda" type="button"  >
                        <ion-icon name="search-outline"></ion-icon>
                    </button>            
                    <input id="search_cliente" type="text" placeholder="Search.." required="required" value="">
                    <input id="search_cliente_keep" type="text" value="" hidden>
            </div>
                  

            <div class="modal_busqueda_resultados">
                <table id="tabla_resultados" class="tabla_resultados" summary="no_orderDate"  >
                    <thead >
                        <tr><th class="th1_R" >CC/NIT</th><th class="th2_R">Nombre</th><th class="th3_R">Acción</th> </tr>
                    </thead>
                    <tbody id="resultados_body" >
           
                    </tbody>   
                </table>             
            </div>

            <div class="tabla_control_busqueda">
                <span>Resultados por página</span>
                <select id="por_pagina"  name="" onchange="BuscarClientes()">          
                    <option value="5" selected >5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="30">30</option>           
                </select>      
        
                <input id="actual_page" type="number" hidden value="1">
                <input id="num_pages" type="number" hidden value="1">
                <input id="old_search" type="text" hidden value="">
                <a class="back_forward" onclick="page_counter_sub()" ><u>Atras</u></a>
                <span class="total_items_cliente" id="total_items_cliente">0 de 0</span>        
                <a class="back_forward" onclick="page_counter_add()" ><u>Siguiente</u></a>
            </div> 
            
        </dialog>




        <!-- Crear de modelo  -->
        <dialog id="modal_crear_modelo" class="modal_new">
            <div class="encabezado_new">
                <ion-icon name="add-circle-outline"></ion-icon>
                <span id="titulo">Crear modelo</span>
                <ion-icon onclick="closemodal_crear_modelo()" name="close-outline"></ion-icon>
            </div>
            
            <form id="form_crea_modelo" method="dialog" onsubmit="CreaModelo()">    
                <div class="cuerpo_new">  
                <select name="crear_modelo_marca" id="crear_modelo_marca" required="required" >
                    <option value="" disabled  hidden selected>Marca</option>
                    <option value="BOSCH" >BOSCH</option>
                    <option value="CENTRALES">CENTRALES</option>
                    <option value="CHALLENGER">CHALLENGER</option>
                    <option value="ELECTROLUX">ELECTROLUX</option>
                    <option value="FRIGIDAIRE">FRIGIDAIRE</option>
                    <option value="GENERAL ELECTRIC">GENERAL ELECTRIC</option>
                    <option value="HACEB">HACEB</option>
                    <option value="HISENSE">HISENSE</option>
                    <option value="HYUNDAI">HYUNDAI</option>
                    <option value="LG">LG</option>
                    <option value="MABE">MABE</option>
                    <option value="MARCA">MARCA</option>
                    <option value="QBEX">QBEX</option>
                    <option value="SAMSUNG">SAMSUNG</option>
                    <option value="WHIRLPOOL">WHIRLPOOL</option>
                </select>
        
                <select name="crear_modelo_producto" id="crear_modelo_producto" required="required">
                    <option value="" disabled selected hidden>Producto</option>
                    <option value="Aire acondicionado">Aire acondicionado</option>
                    <option value="Calentador">Calentador</option>
                    <option value="Calentador de agua">Calentador de agua</option>
                    <option value="Campana empotrable">Campana empotrable</option>
                    <option value="Campana extractora">Campana extractora</option>
                    <option value="Cava de vino">Cava de vino</option>
                    <option value="Cocina empotrable">Cocina empotrable</option>
                    <option value="Congelador single door">Congelador single door</option>
                    <option value="Cubierta empotrable">Cubierta empotrable</option>
                    <option value="Dispensador de agua">Dispensador de agua</option>
                    <option value="Estufa">Estufa</option>
                    <option value="Estufa empotrable">Estufa empotrable</option>
                    <option value="Horno microondas">Horno microondas</option>
                    <option value="Lavadora carga frontal">Lavadora carga frontal</option>
                    <option value="Lavadora carga superior">Lavadora carga superior</option>
                    <option value="Lavadora secadora">Lavadora secadora</option>
                    <option value="Lavavajillas">Lavavajillas</option>
                    <option value="Microondas">Microondas</option>
                    <option value="Minibar">Minibar</option>
                    <option value="Nevecon">Nevecon</option>
                    <option value="Nevecon SBS">Nevecon SBS</option>
                    <option value="Nevera">Nevera</option>
                    <option value="Refrigerador">Refrigerador</option>
                    <option value="Refrigerador single door">Refrigerador single door</option>
                    <option value="Secadora">Secadora</option>
                    <option value="Televisor">Televisor</option>
                    <option value="Torre de lavado">Torre de lavado</option>
                </select>
        
                <input name="crear_modelo_nombre" id="crear_modelo_nombre" type="text" placeholder="Nombre del producto" required="required" >
                
                </div>

                <div class="botones_new">
                    <button id="accion"   type="submit"> Crear </button>
                    <button onclick="closemodal_crear_modelo()"  type="button"> Cancelar</button> 
                    <input id="editar_flag" name="editar_flag"  type="text" hidden value="0">
                </div>  
            </form> 
        </dialog>

        <dialog class="modal_notificacion" id="modal_notificacion">
            <div >
                <span> {{message}}</span>
                <button onclick="closemodal_2()">OK</button>
            </div>  
        </dialog>


        <!-- Asigna técnico -->
        <dialog id="modal_asignar_tecnico" class="modal_new">
            <!-- <form action="" method="dialog" formmethod="dialog"> -->
            <div class="encabezado_new">
                <ion-icon name="accessibility-outline"></ion-icon>
                <span id="titulo">Asignar técnico</span>
                <ion-icon onclick="closemodal_asignar_tecnico()" name="close-outline"></ion-icon>
            </div>
            
            <form id="form_asigna_tecnico" method="dialog">    
                <div class="cuerpo_new">      
                <select id="lista_tecnicos" required="required" >
                    <!-- <option value="" disabled selected hidden>Tipo de identidad</option> -->
                    <!-- <option value="NIT">Número de identificación tributaria</option> -->
                </select>
                </div>

                <div class="botones_new">
                    <button type="submit" id="accion_asigna_tecnico" > Asignar </button>
                    <button onclick="closemodal_asignar_tecnico()"  type="button"> Cancelar</button> 
                </div>  
            </form> 
            <input id="numero_servicio" type="text" hidden >
        </dialog>
 

    <!-- Página principal -->

    <div class="cabecera">
        <ion-icon name="hammer-outline"></ion-icon>
        <span >Servicio</span>
        <span>Servicio -> Procesos / Crear servicio</span> 
        <div class="busqueda" style="width: 70%;">
            <div>
                <select id="asigna" >         
                    <option value="0" selected >Sin asignar</option>
                    <option value="1">Asignados</option>                              
                </select> 
            </div>   
            <div>
                <select id="atributo" >    
                    <option value="num_servicio">Número de orden</option>      
                    <option value="identidad">Número de identificación</option>
                    <option value="nombre">Nombre cliente</option>                            
                </select> 
            </div>  
            <button onclick="busqueda_filtro()" type="button">
                <ion-icon name="search-outline"></ion-icon>
            </button>            
            <input id="search" type="text" placeholder="Search..">
            <button onclick="openmodal()">
                <span> 
                    <ion-icon name="add-circle-outline"></ion-icon> 
                    <span>Crear servicio</span>
                </span>
            </button>
        </div>             
    </div>
    
    <div class="relleno">
    </div>  

    <div class="cont_resultados">
        <table id="tabla" class="tabla" summary="no_orderDate"  >
            <thead >
                <tr><th class="th1_servicios" >Servicio</th><th class="th2_servicios">Tipo</th><th class="th3_servicios">Producto</th> <th class="th4_servicios">Marca</th> <th class="th5_servicios">Cliente</th> <th class="th6_servicios">Dirección</th> <th class="th7_servicios">Acción</th> </tr>
            </thead>
            <tbody id="tabla_body" >
          
            </tbody>   
        </table>             
    </div>  

    <div class="tabla_control">
        <span>Resultados por página</span>
        <select id="por_pagina_servicios" onchange="BuscarServicios_aux()" >
            <option style="display: none;" value="">---</option>            
            <option value="5" selected >5</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>           
        </select>      

        <input id="actual_page_servicios" type="number" hidden value="1">
        <input id="num_pages_servicios" type="number" hidden value="1">
        <input id="old_search_servicios" type="text" hidden value="">
        <a class="back_forward" onclick="page_counter_servicios_sub()" ><u>Atras</u></a>
        <span class="total_items_cliente" id="total_items_servicios_sin_asignar">0 de 0</span>        
        <a class="back_forward" onclick="page_counter_servicios_add()" ><u>Siguiente</u></a>
    </div> 

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="{% static 'js/crear_servicio_script.js' %}"></script>
</body>
</html>