{% extends "django_sb_admin/base.html" %}
{% load static%}

{% block title %}TRAZABILIDAD MEDICAMENTOS{% endblock %}
{% block sb_admin_header_url %}{% endblock sb_admin_header_url %}
{% block sb_admin_header %}
    <a style="color: white;">Trazabilidad Medicamentos</a>
{% endblock sb_admin_header %}
{% block sb_admin_title %} Trazabilidad Medicamentos {% endblock sb_admin_title %}
{% block sb_admin_breadcrumb %}{% endblock sb_admin_breadcrumb %}
{% block sb_admin_navbar_right %}

<!-- Navbar Search -->
    {% if request.user.is_authenticated %}
    <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">

    </form>

    <!-- Navbar -->
    <div class="avbar-nav ml-auto ml-md-0" style="color: white;">
    {% block nombreUsuario %}
    {{ usuario }}
    {% endblock nombreUsuario %}
    </div>
    <ul class="navbar-nav ml-auto ml-md-0"> 
        <li class="nav-item dropdown no-arrow">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user-circle fa-fw"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
            <!--
            <a class="dropdown-item" href="#">Configuración</a>
            -->
            <a class="dropdown-item" href="{% url 'historial' %}">Historial de activiad</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'logout' %}" >Salir</a>
          </div>
        </li>
    </ul>
    {% endif %}
{% endblock sb_admin_navbar_right %}

{% block sb_admin_content %}
    {% block content %}
    {% endblock %}

{% endblock sb_admin_content %}
    
{% block sb_admin_sidebar %}
    
        {% if request.user.is_authenticated %}
            <li class="nav-item active">
                <a class="nav-link" href="/inventario/">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Inventario</span>
                </a>
            </li>

          
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">
                  <i class="fas fa-sign-out-alt"></i>
                  <span>Salir</span></a>
            </li>
            

            
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">
                <i class="fas fa-sign-in-alt"></i>
                <span>Ingresar</span></a>
            </li>
        {% endif %}

    

            


{% endblock sb_admin_sidebar %}

{% block sb_admin_copyright %}Version   . Derechos reservados © 2024{% endblock sb_admin_copyright %}

