{% extends "django_sb_admin/base.html" %}
{% load static%}

{% block title %}TRAZABILIDAD MEDICAMENTOS{% endblock %}
{% block sb_admin_header_url %}{% endblock sb_admin_header_url %}
{% block sb_admin_header %}
    <a style="color: white;">Trazabilidad Medicamentos</a>
{% endblock sb_admin_header %}
{% block sb_admin_title %} Trazabilidad Medicamentos {% endblock sb_admin_title %}
{% block sb_admin_breadcrumb %}{% endblock sb_admin_breadcrumb %}
{% block sb_admin_navbar_right %}{% endblock sb_admin_navbar_right %}

{% block sb_admin_content %}
    {% block content %}
    {% endblock %}

{% endblock sb_admin_content %}
    
{% block sb_admin_sidebar %}
    
        {% if request.user.is_authenticated %}
            <li class="nav-item active">
                <a class="nav-link" href="/inventario/">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Inventario</span>
                </a>
            </li>

          
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">
                  <i class="fas fa-sign-out-alt"></i>
                  <span>Salir</span></a>
            </li>
            

            
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">
                <i class="fas fa-sign-in-alt"></i>
                <span>Ingresar</span></a>
            </li>
        {% endif %}

    

            


{% endblock sb_admin_sidebar %}

{% block sb_admin_copyright %}Version   . Derechos reservados © 2024{% endblock sb_admin_copyright %}

