{% extends 'base.html' %}
            {% block content %}
            
                <h3> Why you need pharmacy management software</h3>
                <article>
                                      
                    
                    <details>          
                        <summary>
                            
                            <br>
                            A pharmacy management software is any system used in a pharmacy that helps automate the pharmacy workflow. This includes such tasks as reviewing physician orders and preparing medications, controlling the inventory and making drug orders, handling billing and insurance, providing counseling, identifying incompatibilities, and more -- all while following legal protocols and compliances.
                            
                        </summary>
                        <p>
                            <br>
                            And these are just the traditional functions that can be automated. Many more features can give the pharmacy a competitive edge by providing better customer experience and attract patients with more personalized and engaging service. We will talk in detail about such features in the following section. Now, let’s go through the main benefits a pharmacy management system will help you get.
                            </p>    
                    </details>
                </article>
                    
                
                
            
            {% endblock %}

