{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear servicio</title>
    <link rel="stylesheet" href="{% static 'css/inventario_style.css' %}">
</head>
<body>

        <!-- Borra item -->
        <dialog id="modal_elimina_item" class="modal" style="width: 30%;">
            <div class="encabezado">
                <ion-icon id="icon_titulo" name="trash-outline"></ion-icon>
                <span id="titulo">Eliminar item</span>
                <ion-icon onclick="closemodal_elimina_item()" name="close-outline"></ion-icon>
            </div>    
            
            <div style="width: 100%;height: max-content; display: flex; justify-content: center;">
                <span style="margin: 5px;" id="eliminar_item_message">¿Desea eliminar el item?</span>
                <span id="id_item" hidden >200</span>
            </div>

            <div class="botones">
                <button onclick="inactiva_item()" type="button"> Eliminar </button>
                <button onclick="closemodal_elimina_item()"  type="button"> Cancelar</button> 
            </div>                      
        
        </dialog>

<!-- Editar Item -->
<dialog id="modal_editar_item" class="modal_new">

    <div class="encabezado_new">
        <ion-icon name="pencil-outline"></ion-icon>
        <span >Editar item</span>
        <ion-icon onclick="closemodal_editar_item()" name="close-outline"></ion-icon>
    </div>
    
    <form id="form_editar_item" method="dialog" onsubmit="EditarItem()">    
        <div class="cuerpo_new">  

        <input id="referencia_editar" type="text" placeholder="Referencia" required="required" >
        <input id="nombre_parte_editar" type="text" placeholder="Nombre de parte" required="required">
        <input id="cantidad_editar" type="number" placeholder="Cantidad" required="required">
        <input id="precio_editar" type="number" placeholder="Precio" required="required">
        <input id="marca_editar" type="text" placeholder="Marca" required="required">
        <input id="observacion_editar" type="text" placeholder="Observación" >
        
        <select id="ciudad_editar" required="required">
            {% autoescape off %}
                {{ lista_ciudades }}
            {% endautoescape %}
            <!-- <option value="" disabled selected hidden>Departamento</option>
            <option value="Antioquia">Antioquia</option>
            <option value="Atlántico">Atlántico</option>
            <option value="Bogotá">Bogotá</option>
            <option value="Bolivar">Bolivar</option>
            <option value="Boyacá">Boyacá</option>
            <option value="Caldas">Caldas</option>
            <option value="Caquetá">Caquetá</option>
            <option value="Cauca">Cauca</option>
            <option value="Cesar">Cesar</option>
            <option value="Cordoba">Cordoba</option>
            <option value="Cundinamarca">Cundinamarca</option>
            <option value="Chocó">Chocó</option>
            <option value="Huila">Huila</option>
            <option value="La Guajira">La Guajira</option>
            <option value="Magdalena">Magdalena</option>
            <option value="Meta">Meta</option>
            <option value="Nariño">Nariño</option>
            <option value="N. de Santander">N. de Santander</option>
            <option value="Quindio">Quindio</option>
            <option value="Risaralda">Risaralda</option>
            <option value="Santander">Santander</option>
            <option value="Sucre">Sucre</option>
            <option value="Tolima">Tolima</option>
            <option value="Valle del Cauca">Valle del Cauca</option>
            <option value="Arauca">Arauca</option>
            <option value="Casanare">Casanare</option>
            <option value="Putumayo">Putumayo</option>
            <option value="San Andres">San Andres</option>
            <option value="Amazonas">Amazonas</option>
            <option value="Guainía">Guainía</option>
            <option value="Guaviare">Guaviare</option>
            <option value="Vaupés">Vaupés</option>
            <option value="Vichada">Vichada</option> -->
        </select>
        </div>

        <div class="botones_new">
            <button type="submit" id="accion_editar" > Editar </button>
            <button onclick="closemodal_editar_item()"  type="button"> Cancelar</button> 
        </div>
        <span id="id_item_editar" hidden >200</span>  
    </form> 
</dialog>        

        <!-- Crea Item -->
        <dialog id="modal_crear_item" class="modal_new">

            <div class="encabezado_new">
                <ion-icon name="add-circle-outline"></ion-icon>
                <span id="titulo">Crear item</span>
                <ion-icon onclick="closemodal_crear_item()" name="close-outline"></ion-icon>
            </div>
            
            <form id="form_crea_item" method="dialog" onsubmit="CreaItem()">    
                <div class="cuerpo_new">  
        
                <input id="referencia" type="text" placeholder="Referencia" required="required" >
                <input id="nombre_parte" type="text" placeholder="Nombre de parte" required="required">
                <input id="cantidad" type="number" placeholder="Cantidad" required="required">
                <input id="precio" type="number" placeholder="Precio" required="required">
                <input id="marca" type="text" placeholder="Marca" required="required">
                <input id="observacion" type="text" placeholder="Observación" >
                
                <select id="ciudad" required="required">
                    {% autoescape off %}
                             {{ lista_ciudades }}
                    {% endautoescape %}
                    <!-- <option value="" disabled selected hidden>Departamento</option>
                    <option value="Antioquia">Antioquia</option>
                    <option value="Atlantico">Atlántico</option>
                    <option value="Bogotá">Bogotá</option>
                    <option value="Bolivar">Bolivar</option>
                    <option value="Boyacá">Boyacá</option>
                    <option value="Caldas">Caldas</option>
                    <option value="Caquetá">Caquetá</option>
                    <option value="Cauca">Cauca</option>
                    <option value="Cesar">Cesar</option>
                    <option value="Cordoba">Cordoba</option>
                    <option value="Cundinamarca">Cundinamarca</option>
                    <option value="Chocó">Chocó</option>
                    <option value="Huila">Huila</option>
                    <option value="La Guajira">La Guajira</option>
                    <option value="Magdalena">Magdalena</option>
                    <option value="Meta">Meta</option>
                    <option value="Nariño">Nariño</option>
                    <option value="N. de Santander">N. de Santander</option>
                    <option value="Quindio">Quindio</option>
                    <option value="Risaralda">Risaralda</option>
                    <option value="Santander">Santander</option>
                    <option value="Sucre">Sucre</option>
                    <option value="Tolima">Tolima</option>
                    <option value="Valle del Cauca">Valle del Cauca</option>
                    <option value="Arauca">Arauca</option>
                    <option value="Casanare">Casanare</option>
                    <option value="Putumayo">Putumayo</option>
                    <option value="San Andres">San Andres</option>
                    <option value="Amazonas">Amazonas</option>
                    <option value="Guainía">Guainía</option>
                    <option value="Guaviare">Guaviare</option>
                    <option value="Vaupés">Vaupés</option>
                    <option value="Vichada">Vichada</option> -->
                </select>
                </div>

                <div class="botones_new">
                    <button type="submit" id="accion" > Crear </button>
                    <button onclick="closemodal_crear_item()"  type="button"> Cancelar</button> 
                    <input id="editar_flag" name="editar_flag"  type="text" hidden value="0">
                </div>  
            </form> 
        </dialog>


    

 

    <!-- Página principal -->

    <div class="cabecera">
        <ion-icon name="hammer-outline"></ion-icon>
        <span >Inventario</span>
        <!-- <span>Inventario</span>  -->
        <div class="busqueda" style="width: 70%;">
            <div >
                <select id="activo"> 
                    <option value="1" selected>Activos</option>          
                    <option value="0">Inactivos</option>
                                                
                </select> 
            </div>   
            <div>
                <select id="atributo" >    
                    <option value="nombre_parte">Nombre</option>      
                    <option value="referencia">Referencia</option>   
                    <option value="marca">Marca</option>                       
                </select> 
            </div>  
            <button onclick="busqueda_filtro()" type="button">
                <ion-icon name="search-outline"></ion-icon>
            </button>            
            <input id="search" type="text" placeholder="Search..">
            <button onclick="openmodal_crear_item()">
                <span> 
                    <ion-icon name="add-circle-outline"></ion-icon> 
                    <span>Crear item</span>
                </span>
            </button>
        </div>             
    </div>
    
    <div class="relleno">
    </div>  

    <div class="cont_resultados">
        <table id="tabla" class="tabla" summary="no_orderDate"  >
            <thead >
                <tr><th class="th1_servicios" >Marca</th><th class="th2_servicios">Referencia</th><th class="th3_servicios">Nombre</th> <th class="th4_servicios">Precio</th> <th class="th5_servicios">Cantidad</th> <th class="th6_servicios">Observación</th> <th class="th7_servicios">Acción</th> </tr>
            </thead>
            <tbody id="tabla_body" >
          
            </tbody>   
        </table>             
    </div>  

    <div class="tabla_control">
        <span>Resultados por página</span>
        <select id="por_pagina_servicios" onchange="BuscarItems_aux()" >
            <option style="display: none;" value="">---</option>            
            <option value="5" selected >5</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>           
        </select>      

        <input id="actual_page_servicios" type="number" hidden value="1">
        <input id="num_pages_servicios" type="number" hidden value="1">
        <input id="old_search_servicios" type="text" hidden value="">
        <a class="back_forward" onclick="page_counter_servicios_sub()" ><u>Atras</u></a>
        <span class="total_items_cliente" id="total_items_servicios_sin_asignar">0 de 0</span>        
        <a class="back_forward" onclick="page_counter_servicios_add()" ><u>Siguiente</u></a>
    </div> 

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="{% static 'js/inventario_script.js' %}"></script>
</body>
</html>