{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mensajes globales</title>
    <link rel="stylesheet" href="{% static 'css/mensajes_style.css' %}">
</head>

<body>

    <div class="cabecera">
        <ion-icon name="megaphone-outline"></ion-icon>
        <span >Mensajes globales</span>         
    </div>

    <div style="height: 50px;">
    </div>

    <div class="container">
        <form id="message-form" >
            <label for="message">Ingrese el mensaje:</label><br>
            <textarea id="message" name="message" rows="4" cols="50"></textarea><br>
            <button type="submit">Enviar</button>
            <div class="emoji-picker" id="emoji-picker">
                <button type="button" onclick="insertEmoji('😊')">😊</button>
                <button type="button" onclick="insertEmoji('&#128512')">&#128512</button>
                <button type="button" onclick="insertEmoji('😊')">😊</button>
                <button type="button" onclick="insertEmoji('😊')">😊</button>
                <button type="button" onclick="insertEmoji('😊')">😊</button>
                <button type="button" onclick="insertEmoji('😊')">😊</button>
                <button type="button" onclick="insertEmoji('😊')">😊</button>
                <button type="button" onclick="insertEmoji('😊')">😊</button>
                <button type="button" onclick="insertEmoji('😊')">😊</button>
                <button type="button" onclick="insertEmoji('😊')">😊</button>
                <button type="button" onclick="insertEmoji('👍')">👍</button>
                <button type="button" onclick="insertEmoji('❤️')">❤️</button>
                <button type="button" onclick="insertEmoji('🎉')">🎉</button>
                <button type="button" onclick="insertEmoji('🌟')">🌟</button>
                <button type="button" onclick="insertEmoji('🔥')">🔥</button>
                <button type="button" onclick="insertEmoji('🎈')">🎈</button>
                <button type="button" onclick="insertEmoji('🍕')">🍕</button>
                <button type="button" onclick="insertEmoji('🎸')">🎸</button>
                <button type="button" onclick="insertEmoji('🎶')">🎶</button>
                <button type="button" onclick="insertEmoji('🌺')">🌺</button>
                <button type="button" onclick="insertEmoji('🍦')">🍦</button>
                <button type="button" onclick="insertEmoji('⚽')">⚽</button>
                <button type="button" onclick="insertEmoji('🎨')">🎨</button>
                <button type="button" onclick="insertEmoji('🚀')">🚀</button>
                <button type="button" onclick="insertEmoji('📚')">📚</button>
                <button type="button" onclick="insertEmoji('💡')">💡</button>
                <button type="button" onclick="insertEmoji('🎯')">🎯</button>
                <button type="button" onclick="insertEmoji('🎳')">🎳</button>
                <button type="button" onclick="insertEmoji('🍩')">🍩</button>
                <button type="button" onclick="insertEmoji('🏆')">🏆</button>
                <button type="button" onclick="insertEmoji('🚲')">🚲</button>
                <button type="button" onclick="insertEmoji('🎻')">🎻</button>
                <button type="button" onclick="insertEmoji('🎃')">🎃</button>
                <button type="button" onclick="insertEmoji('🍂')">🍂</button>
                <button type="button" onclick="insertEmoji('🎄')">🎄</button>
                <button type="button" onclick="insertEmoji('🎅')">🎅</button>
            </div>
        </form>
        <br>
        <label for="message-box">Mensaje publicado:</label>
        <div class="message-box" id="message-box"></div>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="{% static 'js/mensajes_script.js' %}"></script>
</body>
</html>
