
{% extends 'base.html' %}
{% load static %}
{% block content %}



<ol class="breadcrumb mb-4" style="justify-content:space-between">
    <li class="breadcrumb-item active">
        <p> Inventario: 
        {% if messages %}
            {% for message in messages %}
             {{ message }}
            {% endfor %}
        {% endif %}
        </p>
    </li>
    <a class="btn btn-success" href="{% url 'nuevo' %}">Nuevo medicamento</a>
</ol>

    <!--
    <div>
        <img src="{% static 'revisar_usuarios/revisando.jpg' %}" width="100">    
    </div>
        Para ver los datos en API dar click 
        <a href="examinar">AQUÍ</a>
        </br>
    -->    


<!--Historial de usuario seleccionado-->
    <small >
        <div class="card mb-3">
            <!--
            <div class="card-header">
            <i class="fas fa-table"></i>
            Historial</div>
            -->
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                        <thead>
                            <tr role="row">
                                <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 157px;">Cantidad</th>
                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 248px;">Denominacion DCI</th>
                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 248px;">Forma farmacéutica</th>
                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 248px;">Dosis</th>
                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 248px;">Reg. Sanitario</th>
                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 248px;">Lote</th>
                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 248px;">Fecha de vencimiento</th>
                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 248px;">Vía de administración</th>
                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 248px;">Cant. unidades por empaque</th>
                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 248px;">Laboratorio fabricante</th>
                            </tr>
                        </thead>
                        <!--
                        <tfoot>
                                class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 248px;"
                            <tr><th rowspan="1" colspan="1">Name</th><th rowspan="1" colspan="1">Position</th><th rowspan="1" colspan="1">Office</th><th rowspan="1" colspan="1">Age</th><th rowspan="1" colspan="1">Start date</th><th rowspan="1" colspan="1">Salary</th></tr>
                        </tfoot>
                        -->
                        <tbody>
                            
                            {% for medicamento in medicamentos %}
                            <tr>
                                <td scope="col"> {{medicamento.cantidad}} <a href = "{% url 'dispensar' medicamento.id %}">Dispensar</a> </td>
                                <td scope="col"> {{medicamento.denominacion}} </td>
                                <td scope="col"> {{medicamento.forma_farmaceutica}} </td>
                                <td scope="col"> {{medicamento.dosis}} </td>
                                <td scope="col"> {{medicamento.reg_sanitario}} </td>
                                <td scope="col"> {{medicamento.lote}} </td>
                                <td scope="col"> {{medicamento.fecha_vencimiento}} </td>
                                <td scope="col"> {{medicamento.via_administración}} </td>
                                <td scope="col"> {{medicamento.unidades_empaque}} </td>
                                <td scope="col"> {{medicamento.Laboratorio_fabricante}} </td>
                            </tr>
                            {% endfor %}



                            


                            <!--
                            {% for numero_suceso,suceso in historial_organizado.items %}
                            <tr>
                                <td scope="col"> {{numero_suceso}} </td>
                                <td scope="col"> {{suceso.fecha_hora}} </td>
                                <td scope="col"> {{suceso.suceso}} </td>
                            </tr>
                            {% endfor %}  
                            -->          
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </small>

    

    <!--
    <p>Cedula:                      {{usuario_seleccionado.cedula}}</p>
    <p>Fecha de nacimiento:         {{usuario_seleccionado.fecha_nacimiento}}</p>
    </small>
    -->

                    
{% endblock %}
